Source: wol
Section: unknown
Priority: optional
Maintainer: TUBITAK ULAKBIM
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: http://www.liderahenk.org.tr

Package: wol
Version: 1.0.0
Architecture: any
Depends: python3 (>= 3), ethtool
Description: LiderAhenk ahenk-wol application
 Long Desc
